<main>
    <header>
        <div class="logo">
            <img routerLink="menu" class="logo_img" src="assets/logo/logo_head.png" alt="logo">
        </div>
        <nav>
            <button routerLink="menu">Меню</button>
            <button routerLink="discount">Акції</button>
            <button routerLink="delivery">Доставка</button>
            <button routerLink="contact">Контакти</button>
            <button routerLink="about-us">Про нас</button> 
            <button routerLink="admin">
                <mat-icon>
                    settings
                </mat-icon>
            </button>
            <!-- <button (click)="switchLanguage('en')">EN</button>
            <button (click)="switchLanguage('ua')">UA</button> -->
        </nav>
    </header>
</main>