@import '/src/styles.scss';

main {
    display: flex;
    justify-content: center;
    // height: 7.5rem;
    position: relative;
    border-bottom: 1px solid $color_grey;

    // background-color: $color_green;
}

header {
    display: flex;
    justify-content: space-around;
    margin: 0.2rem;
    align-items: cen;
    width: 90%;

}

nav {
    display: flex;
    flex-grow: 1;
    justify-content: flex-end;
    align-items: center;
}

button {
    @include buttonGreen;
}

.active_button {
    background-color: $color_pink;
    color: $color_pink_light;
}

.logo_img {
    width: 70px;
    height: 70px;
    object-fit: contain;
}






/////////////////////////////////////// 
@media (max-width: 1080px) {
    main {
        height: 5rem;
    }

    header {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 90%;
    }

    .logo_img {
        width: 80px;
    }

    .logo_text {
        color: $color_white;
        font-size: 2.5rem;
        margin-left: .5rem;
    }

    .logo {
        display: flex;
        align-items: center;
    }

    .phone {
        color: $color_white;
        display: flex;
        font-size: 1.5rem;
    }

    .phone_number {

        div {
            margin-top: .5rem;
        }
    }

    .icon_phone {
        font-size: 2rem;
        width: 2.5rem;
        height: 2.5rem;
    }
}

//////////////////////////////////

@media (max-width: 800px) {
    main {
        height: 3rem;
    }

    header {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 90%;
    }

    .logo_img {
        width: 47px;
    }

    .logo_text {
        color: $color_white;
        font-size: 1.5rem;
        margin-left: .4rem;
    }

    .logo {
        display: flex;
        align-items: center;
    }

    .phone {
        color: $color_white;
        display: flex;
        font-size: 1rem;
        margin-bottom: 3px;
    }

    .phone_number {

        div {
            margin-top: .5rem;
        }
    }

    .icon_phone {
        font-size: 1.2rem;
        width: 1.9rem;
        height: 1.9rem;
    }
}

@media (max-width: 620px) {

    main {
        height: 5rem;
    }

    header {
        flex-direction: column;

    }

    nav {
        justify-content: center;
    }
}