@import '/src/styles.scss';

main {
    display: flex;
    justify-content: center;
    height: 7.5rem;
    position: relative;
    background-color: $color_green;
}

header {
    display: flex;
    justify-content: space-around;
    align-items: cen;
    flex-grow: 1;
    width: 98%;
}

nav {
    display: flex;
    flex-grow: 1;
    width: 20%;
    justify-content: flex-end;
    align-items: center;
    margin-right: 1rem;
}

button {
    @include button1
}

.active_button {
    background-color: $color_pink;
    color: $color_pink_light;
}

.logo_img{
    width: 100px;
}

.logo {
    display: flex;
    align-items: center;
    font-family: $font_nutino;
    cursor: pointer;
}

.logo_text {
    color: $color_white;
    font-size: 4rem;
    font-weight: 600;
    margin-left: .5rem;
}

.phone {
    color: $color_white;
    display: flex;
    // align-items: end;
    font-size: 1.5rem;
    display: flex;
    justify-content: flex-end;
    flex-grow: 0;
    align-items: center;
}

.phone_number {
    display: flex;
    flex-direction: column;
    flex-grow: 1;

    div {
        margin-top: 1rem;
    }

}

.icon_phone {
    font-size: 3rem;
    width: 3.5rem;
    height: 3rem;
}

.nav_button {
    @include button1;
}

/////////////////////////////////////// 
@media (max-width: 1080px){
    main {
        height: 5rem;
    }
    
    header {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 90%;
    }

    .logo_img{
        width: 80px;
    }

    .logo_text {
        color: $color_white;
        font-size: 2.5rem;
        margin-left: .5rem;
    }
    
    .logo {
        display: flex;
        align-items: center;
    } 
    
    .phone {
        color: $color_white;
        display: flex;
        font-size: 1.5rem;
    }
    
    .phone_number {
    
        div {
            margin-top: .5rem;
        }
    }
    
    .icon_phone {
        font-size: 2rem;
        width: 2.5rem;
        height: 2.5rem;
    }
}

//////////////////////////////////

@media (max-width: 800px){
    main {
        height: 3rem;
    }
    
    header {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 90%;
    }

    .logo_img{
        width: 47px;
    }

    .logo_text {
        color: $color_white;
        font-size: 1.5rem;
        margin-left: .4rem;
    }
    
    .logo {
        display: flex;
        align-items: center;
    } 
    
    .phone {
        color: $color_white;
        display: flex;
        font-size: 1rem;
        margin-bottom: 3px;
    }
    
    .phone_number {
    
        div {
            margin-top: .5rem;
        }
    }
    
    .icon_phone {
        font-size: 1.2rem;
        width: 1.9rem;
        height: 1.9rem;
    }
}

@media (max-width: 620px){

    main{
        height: 5rem;
    }
    header{
        flex-direction: column;
        
    }

    nav{
        justify-content: center;
    }
}