@import '/src/styles.scss';

main {
    display: flex;
    justify-content: center;
    height: 7.5rem;
    position: relative;
    background-color: $color_green;

}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 90%;
}

nav {
    display: flex;
    flex-grow: 1;
    justify-content: flex-end;
}

button {
    @include button1
}

.active_button {
    background-color: $color_pink;
    color: $color_pink_light;
}

.logo {
    display: flex;
    align-items: center;
    font-family: $font_nutino;
    cursor: pointer;
}

.logo_text {
    color: $color_white;
    font-size: 5rem;
    font-weight: 600;
    margin-left: 1rem;
}

.phone {
    color: $color_white;
    display: flex;
    align-items: end;
    font-size: 2rem;
    margin-left: 10rem;
}

.phone_number {
    display: flex;
    flex-direction: column;
    flex-grow: 1;

    div {
        margin-top: 1rem;
    }

}

.icon_phone {
    font-size: 3rem;
    width: 3.5rem;
    height: 3.5rem;
}

.nav_button {
    @include button1;
}