<footer>
  <img class="logo_img" src="assets/logo/logo_head.png" alt="logo">
  <div class="footer_container">
    <div class="footer_section">
      <h2>Контакти</h2>
      <p>+38(097) 177 00 23</p>
      <p>+38(093) 305 52 02</p>
    </div>
    <div class="footer_section">
      <h2>Розташування</h2>
      <p>вул. Львівська, 11а, Тернопіль</p>
      <p>вул. Руська 56а, Тернопіль</p>
    </div>
    <div class="footer_section">
      <h2 class="h2_footer_icons">Ляпота</h2>
      <div class="footer_section_icons">
        <img src="assets/icons/instaSvg.svg" alt="">
        <img src="assets/icons/facebook.svg" alt="">
      </div>
    </div>
  </div>
</footer>