<main>
  <footer>
    <img class="logo_footer" src="assets/logo/big.logo.png" alt="logo">
    <!-- <button class="footer_button" routerLink="menu">МЕНЮ</button>
        <button class="footer_button" routerLink="about-us">ПРО НАС</button>
        
        <button class="footer_button" routerLink="contact">КОНТАКТ</button> -->

    <div class="icons">
      <div class="phone">
        <mat-icon class="icon_phone">phone</mat-icon>
        <div class="phone_number">
          <a href="tel:+380971770023">
            <div>097 177 00 23</div>
          </a>
          <a href="tel:+38 093 305 52 02">
            <div>093 305 52 02</div>
          </a>
        </div>
      </div>
      <a href="https://www.facebook.com/lapota.ternopil" target="_blank">
        <img class="contact_icon" src="assets/icons/facebook.png" alt="facebook">
      </a>
      <a href="https://www.instagram.com/lapota.ternopil/" target="_blank">
        <img class="contact_icon" src="assets/icons/instagram.png" alt="instagram">
      </a>
    </div>
  </footer>
</main>