@import '/src/styles.scss';

main {
    background-color: $color_green ;
}

footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footer_button{
    // @include button1;
    font-size: 2rem;
    font-weight: 700;
    color: $color_black;
    background-color: rgba($color: #000000, $alpha: 0);
    font-family: $font_nutino;
    margin-top: 1.5rem;
    padding:  0 1rem;

    &:hover{
        transform: translateY(-2px);
        background-color: rgb(22, 99, 22);
        border-radius: 3rem;
    }
}

.logo_footer {
    width: 350px;
    object-fit: contain;
    margin: 5px;
}

.contact_icon{
    width: 100px;
    height: 100px;
    cursor: pointer;

    &:hover {
        transform: translateY(4px);
       
    }
}