<main>
   <section>
    <div class="foto_card">
        <img class="foto_burger" src="assets/img/IMG_2330.jpg" alt="burger" >
        <div class="about_info">
            <div>ДОСТАВКА обідів та М'ясних сетів</div>
            <div>Завжди свіжі страви, приготовані з Любов'ю</div>
        </div>
    </div>
    <div class="foto_card">
        <img class="foto_burger" src="/src/assets/img/IMG_2190.jpg" alt="dessert" >
        <div class="about_info">
            <div> Безкоштовна доставка від 300грн</div>
        </div>
    </div>
   </section>

</main>