@import '/src/styles.scss';

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    animation: fromleft .5s ease-out;
}

h1 {
    margin: 50px auto;
    text-align: center;
    font-size: 2rem;
    font-weight: 600;
}

p{
    text-align: justify;
    width: 80%;
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 2rem;
    margin-top: 2rem;
}

.container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: baseline;
    // margin-top: 100px;
}

.container_section{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    width: 50%;
    justify-content: center;

    p{
        text-align: center;
    }
}

.text_bold{
    text-align: justify;
    margin: 100px 0;
    font-size: 1.5rem;
    font-weight: 700;
}

a{
    color: $color_green;
    font-weight: 900;
    display: block;
    margin-right: 1.5rem;
    margin-left: 1.5rem;
    
}

.phones{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    text-align: justify;
}

.phone_number{
    text-align: justify;
    font-size: 2rem;
    line-height: 2.5rem;
    margin-top: 1rem;
    margin-left: 1rem;
}

.footer_section_icons{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.delivery_icons{
    color: rgb(113, 32, 32);
    background-color:$color_green;
    padding: 0.5rem;
    border-radius: 10px;
    margin: 2rem;
}



@media (max-width:500px) {
    .container{
        flex-direction: column;
        margin-top: 50px;
        align-items: center;

        p{
            margin-top: 0.5rem;
        }
    }

    p{
        margin-top: 1rem;
    }

    .phone_number{
        font-size: 1.5rem;
    }
}