@import '/src/styles.scss';

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.delivery_card {
    @include card_green;
    font-size: 2rem;
    line-height: 1rem;
    margin: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;

    h2 {
        font-size: 3rem;
        text-align: center;
        margin: 2rem;
        font-family: $font_nutino;
        
    }


}