<div class="wrapper">
    <h1>{{'Доставка' | translate}}</h1>
    <p>{{'Для Вашої зручності здійснюємо доставку комплексних обідів, напоїв, десертів, м’ясних сетів, та бенкетного меню за попереднім замовленням .' | translate}}
    </p>

    <p>{{'Замовлення можна здійснити зателефонувавши за номером:' | translate}} </p>
    <div class="phones">
        <a href="tel:+380971770023">
            <div class="phone_number">+38(097) 177 00 23</div>
        </a>
        <a href="tel:+380933055202">
            <div class="phone_number">+38(093) 305 52 02</div>
        </a>
    </div>
    <p>{{'Написавши  в дірект фейсбук чи інстаграм сторінки lapota.ternopil' | translate}}</p>
    <div class="footer_section_icons">
        <a href="https://www.instagram.com/lapota.ternopil">
            <img class="delivery_icons"   src="assets/icons/instagram.svg" alt="instagram">
        </a>
        <a href="https://www.facebook.com/lapota.ternopil">
            <img class="delivery_icons" src="assets/icons/facebook.svg" alt="facebook">
        </a>
    </div>
    <div class="container">
        <div class="container_first container_section">
            <img src="assets/icons/car.svg" alt="">
            <h1>{{'Доставка' | translate}}</h1>
            <p>{{'При замовленні від 300 грн доставка безкоштовна' | translate}} </p>
            <p>{{'До 300 грн доставка вього 40 грн' | translate}} </p>
            <p>{{'За межами міста вартість доставки узгоджується індивідуально.' | translate}} </p>
        </div>
        <div class="container_second container_section">
            <img src="assets/icons/pay.svg" alt="">
            <h1>{{'Оплата' | translate}}</h1>
            <p>{{'Оплата готівкою' | translate}}  </p>
            <p>{{'На рахунок IBAN' | translate}}  </p>
            <p>{{'На карту' | translate}}  </p>
            <p>{{'Терміналом' | translate}} <br>{{'(у закладі)' | translate}}</p>
        </div>
    </div>
    <p class="text_bold"> {{'Щоб отримати замовлення комплексного обіду вчасно, замовлення потрібно зробити до 11 год.,в день замовлення. Якщо ж замовлення зроблене після 11 години, через велику кількість замовлень – обід може доставлятись із затримкою.' | translate}} </p>
</div>