<div class="wrapper">
    <h1>Доставка</h1>
    <p>Наша доставка - це не просто швидкий
        спосіб отримати ваші улюблені страви прямо до ваших дверей, це справжня насолода з кожним замовленням. Ми
        розуміємо,
        що ваш час цінний, тому пропонуємо зручну та ефективну доставку,
        яка забезпечить вам комфорт і задоволення.
    </p>
    <div class="container">
        <div class="container_first container_section">
            <img src="assets/icons/car.svg" alt="">
            <h1>Доставка</h1>
            <p>Доставка відбувається нашим авто</p>
            <p>При замовленні від 300 грн доставка безкоштовна</p>
            <p>До 300 грн доставка вього 40 грн</p>
        </div>
        <div class="container_second container_section">
            <img src="assets/icons/pay.svg" alt="">
            <h1>Оплата</h1>
            <p>Оплата готівкою </p>
            <p>Оплата відбувається після отримання</p>
        </div>
    </div>
</div>