@import '/src/styles.scss';

div{
    display: flex;
    justify-content: center;
}

input{
    font-size: 1.2rem;
    border-radius: .5rem;
    border: 2px solid $color_green;
    width: 100%;
    padding: .5rem;
    margin-top: 1rem;
}

.container{
    margin-top: 2rem;
    display: flex;  
    flex-direction: column;
    justify-content: center;
    align-items: center; 
}

button{
    color: $color_green;
    font-size: 1.5rem;
    padding: .5rem;
    margin: 1rem auto;
    border-radius: .5rem;
    border: 2px solid $color_green;
    background-color: white;
    display: block;

    &:hover{
        background-color: $color_grey;
    }
}