@import '/src/styles.scss';

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 1rem;

}

aside{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 60px 0;
    align-items: flex-start;
    justify-content: flex-start;
}

.aside_section{
    display: flex;
    flex-direction: row;
    margin: 20px 0;
    
}

.aside_img{
    margin: 0 25px;
}

.aside_h2{
    font-weight: 600;
}

// .info {
//     display: flex;
//     flex-direction: row;
//     flex-wrap: wrap;
// }

// .contact {
//     background-color: $color_green;
//     color: $color_white;
//     font-family: $font_mulish;
//     font-weight: 700;
//     font-size: 2rem;
//     border-radius: 3rem;
//     padding: 2rem;
//     display: flex;
//     justify-content: center;
//     margin: .5rem;
//     text-align: center;
// }

.contact_header {
    font-size: 2rem;
    margin: 15px;
}

// .contact_text {
//     font-size: 2rem;
// }

.map {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    font-family: $font_mulish;
    // background-color: $color_green;
    // border-radius: 3rem;
   

}

.map_addres{
    font-size: 2rem;
    margin: 1rem 0;
    line-height: 2.5rem;

}

.map_iframes {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-grow: 1;
    width: 90%;
    border: 2px solid $color_green;
    border-radius: 20px;
}

.map_card{
    text-align: center;
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    align-items: space-between;
    justify-content: space-between;
}

iframe {
    margin: 0.5rem;
    border-radius: 2rem;
    border: 5px solid $color_green;
    height: 19rem;
    max-width: 80%;
}

@media (max-width: 680px) {
    iframe{
        height: 200px;
    }
}