<main>
    <section>
        <div class="contact">
            <div class="contact_header">Графік роботи: <br> Пн-Пт, з 09 до 17 год</div>
            <div class="contact_text"></div>
        </div>
        <div class="info">
            <div class="contact">
                <div class="contact_text">Завжди свіжі страви, приготовані з Любов'ю
                </div>
            </div>
            <div class="contact">
                <div class="contact_text">Безкоштовна доставка від 300грн
                </div>
            </div>
            <div class="contact">
                <div class="contact_text">Фляшка Ваша, 🥩 закуска наша🤤
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="map">
            <div class="contact_header">Наша адреса</div>
            <div class="map_iframes">
                <div class="first map_card">
                    <div class="map_addres">  Руська, 56а, Тернопіль</div>
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2588.2820709415782!2d25.560979796016717!3d49.55470071764744!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4730315a3acc7dbf%3A0xfdbe74f1cc8dfdae!2z0JvRj9C_0L7RgtCw!5e0!3m2!1suk!2spl!4v1687195460811!5m2!1suk!2spl" width="600"  allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
                <div class="second map_card">
                    <div class="map_addres">Львівська, 11а, Тернопіль</div>
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1294.242969428099!2d25.599061666296258!3d49.55085363491493!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4730376807fff745%3A0xd49d8098bcaca9a5!2z0JvRj9C_0L7RgtCw!5e0!3m2!1suk!2spl!4v1687195412746!5m2!1suk!2spl" width="600" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

                </div>
            </div>
        </div>
    </section>
</main>

