@import '/src/styles.scss';

.wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    animation: fromleft .5s ease-out;
}

.sidenav {
    width: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
    flex-shrink: 0;
    height: 350px;
    margin-top: 90px;
}

//// ASIDE (right)
aside {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    flex-grow: 1;
    margin-top: 95px;
}

.aside_h2 {
    font-size: 1.2rem;
    font-weight: 400;
}

.aside_img {
    margin-right: 15px;
    width: 35px;
    object-fit: contain;
}


.aside_section {
    display: flex;
    flex-direction: row;
    margin: 2rem 2px;
}


.rendering {
    display: flex;
    width: 100%;
    margin: 0 15px;
    flex-grow: 1;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.rendering_card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    width: 100%;
    flex-grow: 1;
}



.navigation_typeOfMenu {
    margin-top: 29px;
    font-weight: 400;

    h1 {
        text-align: center;
        padding: 15px 25px;
    }
}


nav {
    display: flex;
    justify-content: space-between;
    width: 95%;
}


//// BUTTONS

.button_side {
    display: flex;
    margin-top: 2.5rem;
    background-color: rgba($color: #ffffff, $alpha: 0);
    font-size: 1.3rem;
    color: $color_black;
    transition: all .2s;

    &:hover {
        transform: translateY(2px);
    }
}

.button_side_active {
    position: relative;

    &::after {
        content: "";
        position: absolute;
        top: 17px;
        left: -205px;
        width: 200px;
        height: 2px;
        background-color: $color_black;
    }
}

.buttonDay {
    @include button1;
    margin: 2px;
}

.checkDay {
    background-color: $color_pink_strong;
    pointer-events: none;
}


//////  Item of Menu
/// 



.card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 25px;
    margin: 5px 20px;
    border: 1px solid $color_grey;
    border-radius: 30px;
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.25);
}

.card_left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 40%;
}

.card_right {
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    img {
        object-fit: cover;
        width: 130px;
        height: 130px;
        border-radius: 20px;
    }
}

.card_left_h2 {
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.9rem;
    margin-bottom: 0.5rem;
}

.item_price {
    font-size: 1.5rem;
    color: $color_green;
    margin-top: 0.5rem;
}

.card_left_p {
    font-size: 1.1rem;
    font-weight: 500;
    margin-top: .3rem;
    line-height: 2.5rem;
}

.note{
    font-size: 1rem;
    margin: 0;
    font-style: 16px;
    font-weight: 300;
    margin-left: 0.2rem;
    line-height: 1.3rem;
}

.shortDay{
    display: none;
}

@media (max-width:1000px) {
    aside {
        display: none;
    }
}

@media (max-width: 800px) {

    .wrapper {
        flex-direction: column;
    }

    .sidenav {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin: 0;
        height: 100%;
        width: 100%;
        margin-top: 0.9rem;
    }

    .navigation_typeOfMenu {
        margin-top: 5px;

        h1 {
            font-size: .9rem;
            margin: 0;
            padding: 5px 5px;
            font-weight: 600;
            line-height: 1.2rem;
        }
    }

    .card {
        display: flex;
        justify-content: space-between;
        width: 100%;
        flex-grow: 1;
        margin: 0;
        margin-left: -25px;
        border-radius: 0;
        border: none;
        box-shadow: none;
        border-bottom: 2px solid $color_grey;
    }

    .card_right{
        img{
            width: 70px;
            height: 70px;
        }
    }

    .card_left_h2 {
        font-size: 1.3rem;
    }

    .item_price {
        font-size: 1.1rem;
    }

    .card_left_p {
        font-size: 0.9rem;
        line-height: 1.2rem;
    }

    .card_left{
        width: 65%;
    }

    .card_left_description{
        display: flex;
        flex-wrap: wrap;

    }

    .button_side {
        background-color: $color_white;
        border: 1px solid $color_green;
        border-radius: 20px;
        margin: 2px;
        transition: all .2s;
        font-size: .7rem;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 43px;
        font-weight: 600;
        width: 109px;

        &:hover {
            background-color: $color_green_light;
        }

        &::after {
            width: 0;
        }
    }

    .note{
        font-size: .9rem;
        line-height: 1.3rem;
    }

    .fullDay{
        display: none;
    }

    .shortDay{
        display: inline;
    }

}

@media (min-width: 800px) {

}