@import '/src/styles.scss';

.wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;

}

.sidenav {
    width: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
    flex-shrink: 0;
    height: 350px;
    margin-top: 90px;
}

//// ASIDE (right)
aside {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    flex-grow: 1;

    // width: 20%;
    margin-top: 95px;
}

.aside_h2 {
    font-size: 1.2rem;
    font-weight: 400;
}

.aside_img {
    margin-right: 15px;
    width: 35px;
    object-fit: contain;
}


.aside_section {
    display: flex;
    flex-direction: row;
    margin: 2rem 2px;
}


.rendering {
    width: 100%;
    margin: 0 15px;
}


.navigation_typeOfMenu {
    margin-top: 29px;
    font-weight: 400;

    h1 {
        text-align: center;
        padding: 15px 25px;
    }
}


nav {
    display: flex;
    justify-content: space-between;
    width: 95%;
    // margin: 1.5rem 0;
    // margin-left: -10px;
    // background-color: aquamarine;
}


//// BUTTONS

.button_side {
    display: flex;
    margin-top: 2.5rem;
    background-color: rgba($color: #ffffff, $alpha: 0);
    font-size: 1.3rem;
}

.button_side_active {
    position: relative;

    &::after {
        content: "";
        position: absolute;
        top: 17px;
        left: -205px;
        width: 200px;
        height: 2px;
        background-color: $color_black;
    }
}

.buttonDay {
    @include button1;
    margin: 2px;
}

.active_buttonDay {
    @include active_button1;
}

.checkDay {
    background-color: $color_pink_strong;
    pointer-events: none;
}


//////  Item of Menu

.card {
    display: flex;
    border: 1px solid $color_grey;
    border-radius: 30px;
    padding: 25px;
    justify-content: space-between;
    align-items: center;
    margin: 5px 20px;
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.25);
}

.card_left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 40%;
}

.card_right {
    img {
        object-fit: cover;
        width: 100px;
        height: 100px;
        border-radius: 20px;
    }
}

.card_left_h2 {
    font-size: 2rem;
    font-weight: 400;


}

.item_price {
    font-size: 1.8rem;
    color: $color_green;
}

.card_left_p {
    font-size: 1.5rem;
    font-weight: 300;
    margin-top: 1rem;
    line-height: 2.5rem;
}

@media (max-width:1000px) {
    aside {
        display: none;
    }
}

@media (max-width: 800px) {

    .wrapper{
        flex-direction: column;
    }

    .sidenav{
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin: 0;
        height: 100%;
        width: 100%;
        margin-top: 0.9rem;
    }

    .navigation_typeOfMenu {
        margin-top: 5px;
        

        h1{
            font-size: .9rem;
            margin: 0;
            padding: 5px 5px;
            font-weight: 600;
            line-height: 1.2rem;
        }        
    }

    .card_left_h2{
        font-size: 1.3rem;
    }

    .item_price{
        font-size: 1.1rem;
    }

    .card_left_p{
        font-size:1.1rem;

    }

    .button_side{
        background-color: $color_white;
        border: 1px solid $color_green;
        border-radius: 20px;
        margin: 2px;
        transition: all .2s;
        font-size: .7rem;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 43px;
        font-weight: 600;
        width: 109px;
    
        &:hover {
            background-color: $color_green;
        }

        &::after{
            width: 0;
        }
    }

    .monday {
        &::after {
            content: 'Пн'
        }
    }
    .tuesday {
        &::after {
            content: 'Вт'
        }
    }
    .wednesday {
        &::after {
            content: 'Ср'
        }
    }
    .thursady {
        &::after {
            content: 'Чт'
        }
    }
    .friday {
        &::after {
            content: 'Пт'
        }
    }

}

@media (min-width: 800px){

    .monday {
        &::after {
            content: 'Понеділок'
        }
    }

    .tuesday {
        &::after {
            content: 'Вівторок'
        }
    }
    .wednesday {
        &::after {
            content: 'Середа'
        }
    }
    .thursady {
        &::after {
            content: 'Четвер'
        }
    }
    .friday {
        &::after {
            content: "П'ятниця"
        }
    }
}