<div class="wrapper">
    <div class="sidenav">
        <button class="button_side" (click)="changePartOfMenu('lunch')"
            [class.button_side_active]="currentPartOfMenu == 'lunch'">
            Комплексні обіди</button>
        <button class="button_side" (click)="changePartOfMenu('dessert')"
            [class.button_side_active]="currentPartOfMenu == 'dessert'">
            Десерти</button>
        <button class="button_side" (click)="changePartOfMenu('drinks')"
            [class.button_side_active]="currentPartOfMenu == 'drinks'">
            Напої</button>
        <button class="button_side" (click)="changePartOfMenu('set')"
            [class.button_side_active]="currentPartOfMenu == 'set'">
            М'ясні сети</button>
        <button class="button_side" (click)="changePartOfMenu('buffet')"
            [class.button_side_active]="currentPartOfMenu == 'buffet'">
            Фуршет</button>
    </div>
    <div class="rendering">
        <div *ngIf="currentPartOfMenu === 'lunch'">
            <div class="navigation_typeOfMenu">
                <h1>Комплексний обід доступний лише в день замовлення <br>
                    "Сьогоднішній день, сьогоднішній обід!"</h1>
            </div>
            <div class="week_navigation">
                <nav>
                    <button class="buttonDay monday" (click)="changeDay('1')"
                        [class.active_buttonDay]="dayNumberToday == 1" [class.checkDay]="checkDay == 1"></button>
                    <button class="buttonDay tuesday" (click)="changeDay('2')"
                        [class.active_buttonDay]="dayNumberToday == 2" [class.checkDay]="checkDay == 2"></button>
                    <button class="buttonDay wednesday" (click)="changeDay('3')"
                        [class.active_buttonDay]="dayNumberToday == 3" [class.checkDay]="checkDay == 3"></button>
                    <button class="buttonDay thursady" (click)="changeDay('4')"
                        [class.active_buttonDay]="dayNumberToday == 4" [class.checkDay]="checkDay == 4"></button>
                    <button class="buttonDay friday" (click)="changeDay('5')"
                        [class.active_buttonDay]="dayNumberToday == 5" [class.checkDay]="checkDay == 5"></button>
                </nav>
            </div>
            <section>
                <div class="card" *ngFor="let item of renderingMenu">
                    <div class="card_left">
                        <h2 class="card_left_h2">Комплекс {{item.idNumber}}</h2>
                        <h3 class="item_price">{{item.price}} грн</h3>
                        <p class="card_left_p">{{item.dish1}}</p>
                    </div>
                    <div class="card_right">
                        <img src={{item.urlOfImage}} alt="">
                        <p class="card_left_p">Вага: {{item.weight}} г</p>
                    </div>
                </div>
            </section>
        </div>
        <div *ngIf="currentPartOfMenu === 'dessert'">
            <div class="navigation_typeOfMenu">
                <h1>Десерти</h1>
            </div>
            <section>
                <div class="card" *ngFor="let item of renderingMenu">
                    <div class="card_left">
                        <h2 class="card_left_h2"> {{item.dish1}}</h2>
                        <h3 class="item_price">{{item.price}} грн</h3>
                        <p class="card_left_p">{{item.dish2}}</p>
                    </div>
                    <div class="card_right">
                        <img src={{item.urlOfImage}} alt="">
                        <p class="card_left_p">Вага: {{item.weight}} г</p>
                    </div>
                </div>
            </section>
        </div>
        <div *ngIf="currentPartOfMenu === 'drinks'">
            <div class="navigation_typeOfMenu">
                <h1>Напої</h1>
            </div>
            <section>
                <div class="card" *ngFor="let item of renderingMenu">
                    <div class="card_left">
                        <h2 class="card_left_h2"> {{item.dish1}}</h2>
                        <h3 class="item_price">{{item.price}} грн</h3>
                        <p class="card_left_p">{{item.dish2}}</p>
                    </div>
                    <div class="card_right">
                        <img src={{item.urlOfImage}} alt="">
                        <p class="card_left_p">Об'єм: {{item.weight}} мл</p>
                    </div>
                </div>
            </section>
        </div>
        <div *ngIf="currentPartOfMenu === 'set'">
            <div class="navigation_typeOfMenu">
                <h1>М'ясні сети</h1>
            </div>
            <section>
                <div class="card" *ngFor="let item of renderingMenu">
                    <div class="card_left">
                        <h2 class="card_left_h2">{{item.dish1}}</h2>
                        <h3 class="item_price">{{item.price}} грн</h3>
                        <p class="card_left_p">{{item.dish2}}</p>
                    </div>
                    <div class="card_right">
                        <img src={{item.urlOfImage}} alt="">
                        <p class="card_left_p">Вага: {{item.weight}} г</p>
                    </div>
                </div>
            </section>
        </div>
        <div *ngIf="currentPartOfMenu === 'buffet'">
            <div class="navigation_typeOfMenu">
                <h1>Фуршет</h1>
            </div>
            <section>
                <div class="card" *ngFor="let item of renderingMenu">
                    <div class="card_left">
                        <h2 class="card_left_h2">{{item.dish1}}</h2>
                        <h3 class="item_price">{{item.price}} грн</h3>
                        <p class="card_left_p">{{item.dish2}}</p>
                    </div>
                    <div class="card_right">
                        <img src={{item.urlOfImage}} alt="">
                        <p class="card_left_p">Вага: {{item.weight}} г</p>
                    </div>
                </div>
            </section>
        </div>
    </div>
    <aside>
        <div class="aside_section">
            <img class="aside_img" src="assets/icons/clock.svg" alt="clock">
            <div>
                <h2 class="aside_h2">Працюємо ПН-ПТ</h2>
                <h2 class="aside_h2">9:00 - 17:00</h2>
            </div>
        </div>
        <div class="aside_section">
            <img class="aside_img" src="assets/icons/map.svg" alt="clock">
            <div>
                <h2 class="aside_h2">вул. Львівська, 11а</h2>
                <h2 class="aside_h2">вул. Руська 56а</h2>
            </div>
        </div>
        <div class="aside_section">
            <img class="aside_img" src="assets/icons/phone.svg" alt="clock">
            <div>
                <h2 class="aside_h2">+38(097) 177 00 23</h2>
                <h2 class="aside_h2">+38(093) 305 52 02</h2>
            </div>
        </div>
    </aside>
</div>