<div class="wrapper">
    <form (ngSubmit)="submit(logInForm)" #logInForm="ngForm">
        <h1>Увійти</h1>
        <div class="auth_input">
            <mat-form-field>
                <label>Електронна пошта</label>
                <input matInput type="email" ngModel name="email" required email #email="ngModel">
            </mat-form-field>
            <div *ngIf="email.touched && !email.valid">
                <div class="error_form">Введіть електронну пошту</div>
            </div>
            <mat-form-field>
                <label>Пароль</label>
                <input matInput type="text" name="password" #password="ngModel" ngModel required #logInForm>
            </mat-form-field>
            <div *ngIf="password.touched && !password.valid">
                <div class="error_form">Введіть пароль</div>
            </div>
            <div *ngIf="error" class="error_form">{{error}}</div>
        </div>
        <button type="submit" (click)="logIn(logInForm.value.email, logInForm.value.password)">Увійти</button>
        <div>Або якщо у Вас немає облікового запису:</div>
        <button (click)="goToSignUp()">Зареєструватись</button>
    </form>
</div>