@import '/src/styles.scss';

main {
    position: relative;
    // min-height: 100vh;

}

section {
    display: flex;
    justify-content: center;
    min-height: 100vh;

    div {
        width: 94%;
    }
}



