@import '/src/styles.scss';

main {
    position: relative;
    min-height: 100vh;
}

section {
    display: flex;
    justify-content: center;
    div{
        width: 95%;
    }
}

app-footer {}

.viber {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 100px;
    position: fixed;
    bottom: 10px;
    right: 10px;
    opacity: .7;
    animation-name: viber;
    animation-duration: 1500ms;
    animation-timing-function: ease-out;

    &:hover {
        opacity: 1;
    }


}

.viber_close {
    width: 50%;
    background-color: $color_pink_light;
    border-radius: .5rem;

    mat-icon {
        color: $color_pink;
    }
}

@media (max-width: 600px) {
    
section {
   
    div{
        width: 99%;
    }
}
}

