<main>
    <app-header></app-header>  
    <section>
        <div>
            <router-outlet></router-outlet>
        </div>
    </section>
    <div  class="viber" *ngIf="viberIconToogle">
        <button (click)="closeViberIcon()" class="viber_close" >
            <mat-icon class="viber_close">
                close
            </mat-icon>
        </button>
        <img id="viber_icon" class="viber_icon" src="assets/icons/viber_big.png" alt="viber">
    </div>
</main>
<app-footer></app-footer>
