@import '/src/styles.scss';

main {
    position: relative;
    // min-height: 100vh;

}

section {
    display: flex;
    justify-content: center;
    min-height: 100vh;

    div {
        width: 94%;
    }
}


.viber {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 100px;
    position: fixed;
    bottom: 10px;
    right: 10px;
    opacity: .7;
    animation-name: viber;
    animation-duration: 1500ms;
    animation-timing-function: ease-out;

    &:hover {
        opacity: 1;
    }


}

.viber_close {
    width: 45%;
    background-color: $color_black;
    display: flex;
    justify-content: center;
    border-radius: 5px;
    padding: 0px 0px;

    mat-icon {
        color: $color_green;
    }
}

@media (max-width: 600px) {

    .viber{
        width: 60px;
    } 
}

