<main>
    <form (ngSubmit)="submitReset(menu)" #menu="ngForm">
        <mat-form-field color="warn">
            <mat-label>Страва</mat-label>
            <input matInput type="text" ngModel name="dish1" required>
        </mat-form-field>
        <mat-form-field color="warn">
            <mat-label>Страва 2</mat-label>
            <input matInput type="text" ngModel name="dish2">
        </mat-form-field>
        <mat-form-field color="warn">
            <mat-label>Страва 3</mat-label>
            <input matInput type="text" ngModel name="dish3">
        </mat-form-field>
        <mat-form-field color="warn">
            <mat-label>Страва 4</mat-label>
            <input matInput type="text" ngModel name="dish4">
        </mat-form-field>
        <mat-form-field color="warn">
            <mat-label>Страва 5</mat-label>
            <input matInput type="text" ngModel name="dish5">
        </mat-form-field>
        <mat-form-field color="warn">
            <mat-label>Страва 6</mat-label>
            <input matInput type="text" ngModel name="dish6">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Ціна</mat-label>
            <input matInput type="number" ngModel name="price" required>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Номер</mat-label>
            <input matInput type="number" ngModel name="idNumber" required>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Доступність</mat-label>
            <mat-select ngModel name="dayOfWeek" required>
                <mat-option value="all">всі</mat-option>
                <mat-option value="1">понеділок</mat-option>
                <mat-option value="2">вівторок</mat-option>
                <mat-option value="3">середа</mat-option>
                <mat-option value="4">четвер</mat-option>
                <mat-option value="5">п'ятниця</mat-option>
                <mat-option value="0">TEST</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Тип меню</mat-label>
            <mat-select ngModel name="partOfMenu" required>
                <mat-option value="lunch">Обід</mat-option>
                <mat-option value="dessert">Десерт</mat-option>
                <mat-option value="set">Мясний сет</mat-option>
                <mat-option value="buffet">Фуршет</mat-option>
            </mat-select>
        </mat-form-field>

        <button [class.disabled]="menu.form.invalid" type="submit">Додати</button>
    </form>
    <div class="container">
        <button (click)="filterByPartOfMenu('lunch')"
        [class.active_button]="checkedPartOfMenu == 'lunch'"
        >Обіди</button>
        <button (click)="filterByPartOfMenu('set')" 
        [class.active_button]="checkedPartOfMenu == 'set'"
        >Мясні сети</button>
        <button (click)="filterByPartOfMenu('dessert')" 
        [class.active_button]="checkedPartOfMenu == 'dessert'"
        >Десерти</button>
        <button (click)="filterByPartOfMenu('buffet')" 
        [class.active_button]="checkedPartOfMenu == 'buffet'"
        >Фуршет</button>
    </div>
    <section>
        <div class="cart" *ngFor="let item of showMenu">
            <div class="info">
                <div class="card_header">
                    <h1 class="item_idNumber">Комплекс # {{item.idNumber}}</h1>
                    <p class="item_price">{{item.price}} грн</p>
                    <div [ngSwitch]="item.dayOfWeek">
                        <div *ngSwitchCase="'1'">Понеділок</div>
                        <div *ngSwitchCase="'2'">Вівторок</div>
                        <div *ngSwitchCase="'3'">Середа</div>
                        <div *ngSwitchCase="'4'">Четвер</div>
                        <div *ngSwitchCase="'5'">П'ятниця</div>
                        <div *ngSwitchCase="'6'">Всі дні</div>
                    </div>
                </div>
                <div class="dishes">
                    <p class="item_name">{{item.dish1}}</p>
                    <p class="item_name">{{item.dish2}}</p>
                    <p class="item_name">{{item.dish3}}</p>
                    <p class="item_name">{{item.dish4}}</p>
                    <p class="item_name">{{item.dish5}}</p>
                    <p class="item_name">{{item.dish6}}</p>
                    <p class="item_id"> Код: {{item.id}}</p>
                </div>
            </div>
            <button (click)="deleteItem(item.id!)">
                <mat-icon>
                    delete
                </mat-icon>
            </button>
            <!-- <img class="item_image" src="assets/img/IMG_5153.jpg" alt="potato"> -->
        </div>
    </section>

</main>