<form (ngSubmit)="submit(signUpForm)" #signUpForm="ngForm">
    <mat-form-field>
        <label >Name</label>
        <input type="text" id="name" name="name" ngModel matInput>
    </mat-form-field>
    <mat-form-field>
        <label >Phone</label>
        <input type="text" id="phone" name="phone" ngModel matInput>
    </mat-form-field>
    <mat-form-field>
        <label >Email</label>
        <input type="text" id="email" name="email" ngModel matInput>
    </mat-form-field>
    <mat-form-field>
        <label >Password</label>
        <input type="text" id="password" name="password" ngModel matInput>
    </mat-form-field>
    <button type="submit" >Submit</button>
</form>

