<form (ngSubmit)="submit(signUpForm)" #signUpForm="ngForm">
    <h1>Зареєструйтесь</h1>
    <div class="auth_input">
        <mat-form-field>
            <label>Ім'я</label>
            <input type="text" id="name" name="name" #name="ngModel" ngModel matInput required>
        </mat-form-field>
        <div *ngIf="name.touched && !name.valid">
            <div class="error_form">Введіть Ваше Ім'я</div>
        </div>
        <mat-form-field>
            <label>Телефон</label>
            <input  id="phone" maxlength="10" minlength="10" name="phone" #phone="ngModel" ngModel matInput required >
        </mat-form-field>
        <div *ngIf="phone.touched && !phone.valid">
            <div class="error_form">Введіть номер телофону (наприклад : 097 177 00 23)</div>
        </div>
        <mat-form-field>
            <label>Електронна пошта</label>
            <input type="email" id="email" name="email" #email="ngModel" ngModel matInput required>
        </mat-form-field>
        <div *ngIf="email.touched && !email.valid">
            <div class="error_form">Введіть електронну пошту</div>
        </div>
        <mat-form-field>
            <label>Пароль</label>
            <input type="text" id="password" name="password" #password="ngModel" 
            ngModel matInput required minlength="6">
        </mat-form-field>
        <div *ngIf="password.touched && !password.valid">
            <div class="error_form">Введіть пароль (мінімум 6 символів)</div>
        </div>
        <!-- <div *ngIf="error" class="error_form">{{error}}</div> -->
    </div>
    <button type="submit">Submit</button>
    <div *ngIf="error "> {{error  }} </div>
</form>