@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Vina+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Nunito:wght@800&family=Vina+Sans&display=swap');

$font_mont : 'Montserrat',
sans-serif;
$font_nutino : 'Nunito',
sans-serif;

$color_green: rgb(43, 118, 39);
$color_pink: rgb(231, 61, 109);
$color_pink_light: rgb(247, 191, 173);
$color_white: rgb(255, 255, 255);
$color_black: rgb(29, 29, 27);


* {
    box-sizing: border-box;
    font-weight: 400;
}

body {
    margin: 0;
    position: relative;
}

button {
    border: none;
}