@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Vina+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Nunito:wght@800&family=Vina+Sans&display=swap');

$font_mont : 'Montserrat',
sans-serif;
$font_nutino : 'Nunito',
sans-serif;

$color_green: rgb(47, 121, 52);
$color_pink: rgb(231, 61, 109);
$color_pink_light: rgb(247, 191, 173);
$color_white: rgb(255, 255, 255);
$color_black: rgb(29, 29, 27);

@mixin button1 {
    background-color: $color_pink_light;
    color: $color_pink;
    font-size: 1.5rem;
    font-weight: 800;
    font-family: $font_nutino;
    border-radius: 1rem;
    margin-left: .7rem;
    margin-bottom: 0.7rem;
    padding: .4rem;
    display: flex;
    flex-shrink: 0;
    text-align: center;
    justify-content: center;

    &:hover {
        transform: translateY(3px);
        opacity: .9;
    }

    @media (max-width:1080px) {
        font-size: 1.2rem;
        border-radius: .5rem;
        margin-left: .5rem;
        margin-bottom: 0.2rem;
        padding: .2rem;
        // height: 2.5rem;
    }

    @media (max-width:800px) {
        font-size: .9rem;
        border-radius: .3rem;
        margin-left: .3rem;
        margin-bottom: 0.2rem;
        padding: .2rem;
    }
}

@mixin card_green {
    background-color: $color_green;
    padding: 2rem;
    color: $color_white;
    font-family: $font_nutino;
    border-radius: 3rem;
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

a {
    color:$color_white;
    text-decoration: none;
    padding: 0;

    &:hover{
        transform: translateY(3px);
        opacity: .9;
    }
}

* {
    box-sizing: border-box;
    font-weight: 400;
}

p {
    margin: 0;
}

body {
    margin: 0;
    position: relative;
}

button {
    border: none;
    cursor: pointer;
}

.disabled {
    opacity: 0.3;
    pointer-events: none;
}

.active_button {
    background-color: $color_pink;
    color: $color_pink_light;
}

h1 {
    margin: 0;
}

////// ANIMATIONS

@keyframes viber {
    0% {
        opacity: 0;
        transform: translateX(3000px);
    }

    100% {
        opacity: 1;
    }
}